Flask==2.3.2
Flask-PyMongo==2.3.0
Flask-WTF==1.2.2
Flask-Cors==6.0.1
Flask-Session==0.8.0
gunicorn==21.2.0
pymongo==4.7.1
dnspython==2.8.0
Jinja2==3.1.6
python-dotenv==1.1.0
reportlab==4.1.0
requests==2.31.0
wtforms==3.0.1
pywebpush==2.2.0