<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h2 class="mb-4">Courses</h2>
    <a href="{{ url_for('add_course') }}" class="btn btn-primary mb-3">Add New Course</a>
    <ul class="list-group">
      {% for course in courses %}
        <li class="list-group-item">
          {{ course.name }} ({{ course.code }}) - {{ course.institution_name }} | Program Code: {{ course.program_code }}
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
