<!DOCTYPE html>
<html>
<head>
  <title>Institutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body class="bg-light">
  <div class="container py-5">
    <h2 class="mb-4">Institutions</h2>
    <a href="{{ url_for('add_institutions') }}" class="btn btn-primary mb-3">Add New Institution</a>
    <ul class="list-group">
      {% for inst in institutions %}
        <li class="list-group-item">{{ inst.name }}</li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
